@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ArialCustom";
    src: url("/fonts/arial.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
